@model Lab4_MVC_Mamani.Models.ClsCajero
@{
    ViewBag.Title = "DispensarBilletes";
}

<h2>Dispensar Billetes</h2>
<br />
<br />
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <label class="font-weight-bold">Monto:</label>
            <span class="ml-2">@Model.monto</span>
            <br /><br />
            <label class="font-weight-bold">200:</label>
            <span class="ml-2">@Model.b200</span>
            <br /><br />
            <label class="font-weight-bold">100:</label>
            <span class="ml-2">@Model.b100</span>
            <br /><br />
            <label class="font-weight-bold">50:</label>
            <span class="ml-2">@Model.b50</span>
            <br /><br />
            <label class="font-weight-bold">20:</label>
            <span class="ml-2">@Model.b20</span>
            <br /><br />
            <label class="font-weight-bold">10:</label>
            <span class="ml-2">@Model.b10</span>
            <br /><br />
        </div>
    </div>
</div>

@Html.ActionLink("<< Retornar al formulario anterior", "Index")